<div class="container-xl">
    <div class="header">
        <p class="h2 mt-4 opacity-75">Cart</p>
    </div>
    <p>
        <a routerLink="/shipping">Shipping Prices</a>
    </p>
    <div class="row row-cols-2 row-cols-md-5 g-3">
        <div class="col" *ngFor="let item of items">
            <div class="card rounded-3 h-100 mt-3 shadow" role="button" style="border: none;">
                <div class="crop-img">
                    <img class="card-img-top imgOfProduct" [src]="item.image" alt="Product Image">
                </div>
                <div class="card-body" style="height: 60px; width: 100%;">
                    <div class="card-title h-3">
                        <a class="titleOfProduct" [title]="item.name + ' details'">
                            {{ item.name }}
                        </a>
                    </div>
                    <div class="card-text">
                        <p class="opacity-75">
                            {{ item.price | currency}}
                        </p>
                    </div>
                </div>
                <div class="card-footer d-grid gap-2 d-flex justify-content-md-end" style="border: none;">
                    <div>
                        <button class="btn text-light share-btn btn-sm" type="button">
                            <i class="bi bi-x-circle"></i> Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-5 col-md-5 shadow bg-body-tertiary" style="border: none;">
        <div class="d-flex justify-content-center mt-3">
            <div class="h3">Confirm</div>
        </div>
        <div class="card-body">
            <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
                <div class="mb-3 row">
                    <label for="name" class="col-sm-2 col-form-label">
                        Name
                    </label>
                    <div class="col-sm-10">
                        <input class="form-control" id="name" type="text" formControlName="name">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="address" class="col-sm-2 col-form-label">
                        Address
                    </label>
                    <div class="col-sm-10">
                        <input class="form-control" id="address" type="text" formControlName="address">
                    </div>
                </div>
                <button class="btn text-light purchase-btn btn-sm" type="submit">Purchase</button>
            </form>
        </div>
    </div>
    <br><br><br>
</div>